.nav {
    display: flex;
    justify-content: space-around;
}
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: blue;
}

a.active{
    text-decoration: none;
    color: blue;
}
